<div class="bg-dark text-light">
    <div class="container py-3">
        <div class="row">
            <div class="col">

                <div class="d-flex">
                    <div class="d-flex">
                        <div class="h3">CartZilla</div><span>TM</span>
                    </div>

                    <div class="dropdown ms-3">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Eng/$
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Eng/&#8377;</a></li>
                            <li><a class="dropdown-item" href="#">Eng/&euro;</a></li>
                            <li><a class="dropdown-item" href="#">Eng/&#8383;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col text-end">
                <i class="fa-brands fa-square-twitter fa-2x"></i>
                <i class="fa-brands fa-square-facebook fa-2x ms-2"></i>
                <i class="fa-brands fa-square-instagram fa-2x ms-2"></i>
                <i class="fa-brands fa-square-pinterest fa-2x ms-2"></i>
                <i class="fa-brands fa-square-youtube fa-2x ms-2"></i>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active text-light ps-0" aria-current="page" href="#">Outlets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Affiliates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">Terms of use</a>
                    </li>
                </ul>
            </div>
            <div class="col text-end">
                <img style="height: 30px;" src="../../assets/cards-alt.png" alt="cards image">
            </div>
        </div>
        
        <div class="row">
            <div class="col">&copy; All rights reserved. Made by Angular training batch.</div>
        </div>
    </div>
</div>