.item-heading{
    font-size: 20px;
    font-weight: bold;
}

.stars{
    color: yellow;
    font-weight: bold;
    font-weight: 18px;
}

.item-container{
    position: relative;
}

.heart{
    position: absolute;
    right: 54px;
    font-size: 25px;
    top: 28px;
}

.item-main:hover .cartDiv{
    display: block;
}
.cartDiv{
    display: none;
}

.itemImage{
    height: 150px;
    width: 100%;
    text-align: center;
}