<div class="container my-100">
    <div class="row">
        <div class="col-lg-3 col-md-6 item-container">
            <div class="heart"><i class="fa-solid fa-heart"></i></div>
            <div>
                <img class="img-fluid items" src="../../assets/01.jpg" alt="shoes">
            </div>
            <div>
                Sneakers and kids
            </div>
            <div class="item-heading">Women colorblock sneakers</div>
            <div class="d-flex justify-content-between">
                <div>$154.00</div>
                <div class="stars">*****</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 item-container">
            <div class="heart"><i class="fa-solid fa-heart"></i></div>
            <div>
                <img class="img-fluid items" src="../../assets/01.jpg" alt="shoes">
            </div>
            <div>
                Sneakers and kids
            </div>
            <div class="item-heading">Women colorblock sneakers</div>
            <div class="d-flex justify-content-between">
                <div>$154.00</div>
                <div class="stars">*****</div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 item-container">
            <div class="heart"><i class="fa-solid fa-heart"></i></div>
            <div>
                <img class="img-fluid items" src="../../assets/02.jpg" alt="shoes">
            </div>
            <div>
                Sneakers and kids
            </div>
            <div class="item-heading">Women colorblock sneakers</div>
            <div class="d-flex justify-content-between">
                <div>$154.00</div>
                <div class="stars">*****</div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 item-container">
            <div class="heart"><i class="fa-solid fa-heart"></i></div>
            <div>
                <img class="img-fluid items" src="../../assets/01.jpg" alt="shoes">
            </div>
            <div>
                Sneakers and kids
            </div>
            <div class="item-heading">Women colorblock sneakers</div>
            <div class="d-flex justify-content-between">
                <div>$154.00</div>
                <div class="stars">*****</div>
            </div>

        </div>
    </div>
</div>