

  <!-- <div class="banner">
    
    <img src="assets/banner.jpg"  width="1000" height="300"alt="...">
  </div> -->

  <div class="container-fluid p-0">
    <div class="row align-items-center" style="background-color: #eba170;">
      <div class="col-lg-6 p-0" >
        <div class="left text-light ms-5">
          <p>Complete your look with</p>
          <h1>New Men's Accessories</h1>
          <p>Hats and caps, sunglasses aned bags</p>
          <button class="btn btn-danger">Shop Now</button>
      </div>
      </div>
      <div class="col-lg-6 p-0">
        <img src="assets/banner.jpg" alt="Snow" width="100%" height="500">

    
      </div>
    </div>
  </div>