.left {
    // position: absolute;
    // top: 40%;
    // left: 10%;
    // transform: translate(-50%, -50%);
    text-align: left;
    font-size: 30px;
  }
  .left h1{
    font-size: 40px;

  }
  // .container {
  //   position: relative;
  //   text-align: left;
  //   color: white;
  // }

