<div class="container">

  <h2>Reactive Form</h2>

  <form [formGroup]="signupform">

    <div>

      <div class="cross-validation">
        <div class="form-group">

          <label for="name">Name</label>
          <input type="text" id="username" name="username" class="form-control" 
          formControlName="username" />

          <div *ngIf="f['username'].errors">
              username is required!
          </div>
        </div>
      </div>
  </div>
  </form>
  </div>

  <!-- <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" id="alterEgo" class="form-control"
                formControlName="alterEgo">
  
            <div *ngIf="alterEgo.pending">Validating...</div>
            <div *ngIf="alterEgo.invalid" class="alert alert-danger alter-ego-errors">
              <div *ngIf="alterEgo.errors?.['uniqueAlterEgo']">
                Alter ego is already taken.
              </div>
            </div>
          </div>
  
          <div *ngIf="heroForm.errors?.['identityRevealed'] && (signupform.touched || signupform.dirty)" class="cross-validation-error-message alert alert-danger">
              Name cannot match alter ego.
          </div>
        </div>
  
        <div class="form-group">
          <label for="power">signupform</label>
          <select id="power" class="form-control"
              formControlName="power" required>
            <option *ngFor="let p of powers" [value]="p">{{p}}</option>
          </select>
  
          <div *ngIf="power.invalid && power.touched" class="alert alert-danger">
            <div *ngIf="power.errors?.['required']">Power is required.</div>
          </div>
        </div> -->

  <!-- <p>Complete the form to enable the Submit button.</p>
        <button type="submit"
                class="btn btn-default"
                [disabled]="heroForm.invalid">Submit</button>
        <button type="button" class="btn btn-default"
               (click)="formDir.resetForm({})">Reset</button> -->


  <!-- <div class="submitted-message" *ngIf="formDir.submitted">
    <p>You've submitted your hero, {{ signupform }}!</p>
    <button type="button" (click)="formDir.resetForm({})">Add new hero</button>
  </div>
</div> -->