<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 shadow p-0">
      <div class="header-login d-flex py-3 px-0 mx-0">
        <div>
          <button class="btn btn-light" routerLink="/sign-in"><i class="fa-solid fa-lock"></i>
            Sign in</button>
        </div>
        <div>
          <button class="btn btn-light text-danger" routerLink="/sign-up">
            <i class="fa-solid fa-user"></i> Sign Up
          </button>
        </div>
      </div>
      <form class="p-3" [formGroup]="signupform" (submit)="onSubmit()">
        <div class="form-group my-3">
          <label for="exampleInputEmail1" class="form-label">Fist Name</label>
          <input type="Fist Name" class="form-control" id="exampleInputFist Name" aria-describedby="Fist NameHelp"
            placeholder="Fist Name" formControlName="FistName"
            [ngClass]="isSubmitted && f['FistName'].errors ? 'invalid': '' ">
          <div id="Fist NameHelp" class="form-text text-danger" *ngIf="isSubmitted && f['FistName'].errors"> Please
            enter
            first name</div>
        </div>

        <div class="form-group my-3">
          <label for="exampleInputLast Name" class="form-label">Last Name</label>
          <input type="Last Name" class="form-control" id="exampleInputLast Name" aria-describedby="Last NameHelp"
            placeholder="Last Name" formControlName="LastName"
            [ngClass]="isSubmitted && f['FistName'].errors ? 'invalid': '' ">
          <div class="form-text text-danger" *ngIf="isSubmitted && f['LastName'].errors"> Please enter Last Name </div>
        </div>


        <div class="form-group my-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" formControlName="emailID"
            [ngClass]="isSubmitted && f['emailID'].errors ? 'invalid': '' ">
          <div class="form-text text-danger" *ngIf="isSubmitted && f['emailID'].errors"> Please enter eamil address
          </div>
        </div>

        <div class="form-group my-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
            [ngClass]="isSubmitted && f['password'].errors ? 'invalid': '' ">
          <div class="form-text text-danger" *ngIf="isSubmitted && f['password'].errors"> Please enter password </div>
        </div>

        <div class="form-group my-3">
          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="confirmPassword"
            [ngClass]="isSubmitted && f['confirmPassword'].errors ? 'invalid': '' ">
          <div class="form-text text-danger" *ngIf="isSubmitted && f['confirmPassword'].errors"> Please enter confirm password </div>
        </div>

        <div class="form-group form-check my-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
          <label class="form-check-label" for="exampleCheck1">Enable</label>
        </div>

        <select class="form-select" aria-label="Default select example" formControlName="role">
          <option selected="true" value="Admin">Admin</option>
          <option value="User">User</option>

        </select>

        <button type="submit" class="btn btn-primary my-3">Submit</button>
        <!-- [disabled]="!signupform.valid"  **** if you want to disable button when invlaid you can add this 
  attribute -->
      </form>

    </div>
  </div>
</div>