<h1>Reactive Form</h1>

<form class="p-3" >
  <div class="form-group my-3">
    <label for="exampleInputEmail1" class="form-label">Fist Name</label>
    <input type="Fist Name" class="form-control" id="exampleInputFist Name"
     aria-describedby="Fist NameHelp" placeholder="Fist Name"
     formControlName="Fist Name">
    <div id="Fist NameHelp" class="form-text"></div>
  </div>
  <form class="p-3" >
    <div class="form-group my-3">
      <label for="exampleInputLast Name" class="form-label">Last Name</label>
      <input type="Last Name" class="form-control" id="exampleInputLast Name"
       aria-describedby="Last NameHelp" placeholder="Last Name"
       formControlName="Last Name">
      <div id="Last NameHelp" class="form-text"></div>
    </div>
  <form class="p-3" >
    <div class="form-group my-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"
       aria-describedby="emailHelp" placeholder="Enter email"
       formControlName="emailID">
      <div id="emailHelp" class="form-text"></div>
    </div>

  <div class="form-group my-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <div class="form-group form-check my-3">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>