<!-- <p>brands works!</p>
<div>
    <button class="btn btn-primary">click me</button>
</div> -->

<div class="container">
    <div class="mx-auto py-3">
        <h2 class="text-center">shop brand by</h2>
    </div>
    <div class="row gap-0 row-gap-4">
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/adidas.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/puma.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/tommyhilfiger.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/columbia.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
    </div>
    <div class="row mt-3">
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/nike.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>

        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/hermesparis.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>

        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/brooks.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>

        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/americaneagle.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
        
        
    </div>
    <div class="row mt-3 mb-5">
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/newbalance.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/fils.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/dior.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
        <div class="col lg-col-3">
            <div class=" p-2 border border-light border border-3 text-center shadow ">
                <img class="img-fluid"
                src="../../assets/rayban.png" style="width:  80px; height:  60px;" />
            </div> 
        </div>
      
    </div>
</div>